### Job Satisfaction

In this notebook, you will be exploring job satisfaction according to the survey results.  Use the cells at the top of the notebook to explore as necessary, and use your findings to solve the questions at the bottom of the notebook.

In [1]:
import pandas as pd
import numpy as np
import JobSatisfaction as t
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
schema = pd.read_csv('./survey_results_schema.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Space for your code
df.JobSatisfaction.isnull().sum(), len(df.JobSatisfaction)

(3849, 19102)

In [3]:
#More space for code
df.JobSatisfaction.isnull().sum()/len(df.JobSatisfaction)

0.20149722542142184

In [4]:
df.JobSatisfaction.isnull().mean()

0.20149722542142184

In [5]:
not_satesfied = df[df.JobSatisfaction.isnull()]
satesfied = df[df.JobSatisfaction.notnull()]

len(not_satesfied), len(satesfied)

(3849, 15253)

In [6]:
#Additional space for your additional code
satesfied.EmploymentStatus.value_counts(), '-'*50 , not_satesfied.EmploymentStatus.value_counts()

(Employed full-time                                      12995
 Independent contractor, freelancer, or self-employed     1582
 Employed part-time                                        676
 Name: EmploymentStatus, dtype: int64,
 '--------------------------------------------------',
 Not employed, and not looking for work                  1066
 Not employed, but looking for work                       906
 Employed full-time                                       660
 Employed part-time                                       492
 I prefer not to say                                      381
 Independent contractor, freelancer, or self-employed     284
 Retired                                                   60
 Name: EmploymentStatus, dtype: int64)

In [7]:
satesfied.EmploymentStatus.value_counts().sum(), '-'*50, not_satesfied.EmploymentStatus.value_counts().sum()

(15253, '--------------------------------------------------', 3849)

In [8]:
15253/(15253+3849), 3849/(15253+3849)

(0.7985027745785782, 0.20149722542142184)

In [9]:
#Feel free to create new cells as you need them
satesfied.CompanySize.value_counts(), '-'*50, not_satesfied.CompanySize.value_counts()

(20 to 99 employees          3040
 100 to 499 employees        2694
 10,000 or more employees    1880
 10 to 19 employees          1427
 1,000 to 4,999 employees    1399
 Fewer than 10 employees     1322
 500 to 999 employees         901
 5,000 to 9,999 employees     566
 I don't know                 238
 I prefer not to answer       186
 Name: CompanySize, dtype: int64,
 '--------------------------------------------------',
 20 to 99 employees          174
 100 to 499 employees        164
 Fewer than 10 employees     134
 10,000 or more employees    118
 10 to 19 employees          117
 1,000 to 4,999 employees     83
 I don't know                 73
 I prefer not to answer       52
 500 to 999 employees         45
 5,000 to 9,999 employees     40
 Name: CompanySize, dtype: int64)

In [10]:
df.groupby('EmploymentStatus').mean().style.highlight_null(null_color='red')

In [11]:
df.groupby('CompanySize').mean()['JobSatisfaction'].sort_values()

CompanySize
10,000 or more employees    6.793617
5,000 to 9,999 employees    6.832155
1,000 to 4,999 employees    6.908506
20 to 99 employees          6.997039
Fewer than 10 employees     7.025719
100 to 499 employees        7.029324
500 to 999 employees        7.029967
10 to 19 employees          7.035739
I don't know                7.054622
I prefer not to answer      7.284946
Name: JobSatisfaction, dtype: float64

#### Question 1

**1.** Use the space above to assist in matching each variable (**a**, **b**, **c**, **d**, **e**, **f**, **g**, or **h** ) as the appropriate key that describes the value in the **job_sol_1** dictionary.

In [12]:
a = 0.734
b = 0.2014
c = 'full-time'
d = 'contractors'
e = 'retired'
f = 'yes'
g = 'no'
h = 'hard to tell'

job_sol_1 = {'The proportion of missing values in the Job Satisfaction column': b,
             'According to EmploymentStatus, which group has the highest average job satisfaction?': d, 
             'In general, do smaller companies appear to have employees with higher job satisfaction?': f}
             
t.jobsat_check1(job_sol_1)

Nice job! That's what we found as well!

#### Question 2

**2.** Use the space above to assist in matching each variable (**a**, **b**, **c** ) as the appropriate key that describes the value in the **job_sol_2** dictionary. Notice you can have the same letter appear more than once.

In [13]:
df.groupby('ProgramHobby').mean()['JobSatisfaction'].sort_values()

ProgramHobby
No                                           6.874806
Yes, I program as a hobby                    6.927150
Yes, I contribute to open source projects    7.158649
Yes, both                                    7.189316
Name: JobSatisfaction, dtype: float64

In [14]:
df.groupby('HomeRemote').mean()['JobSatisfaction'].sort_values()

HomeRemote
Never                                                      6.697127
It's complicated                                           6.942053
More than half, but not all, the time                      6.973684
A few days each month                                      7.096694
About half the time                                        7.125737
Less than half the time, but at least one day each week    7.143786
All or almost all the time (I'm full-time remote)          7.405421
Name: JobSatisfaction, dtype: float64

In [19]:
df.groupby('FormalEducation').mean().style.highlight_max(color='green').highlight_null().highlight_min()

In [16]:
a = 'yes'
b = 'no'
c = 'hard to tell'

job_sol_2 = {'Do individuals who program outside of work appear to have higher JobSatisfaction?': a,
             'Does flexibility to work outside of the office appear to have an influence on JobSatisfaction?': a, 
             'A friend says a Doctoral degree increases the chance of having job you like, does this seem true?': a}
             
t.jobsat_check2(job_sol_2)

Nice job! That's what we found as well!